PORT= YOUR PORT
BASE_URL=http://localhost:YOUR_PORT

# =================== MONGODB_DATABASE ===========================
MONGO_URI= YOUR MONGO_URI

# =================== REFRESH_TOKEN ===========================
REFRESH_TOKEN_SECRET=579384729842987XXX
REFRESH_TOKEN_EXPRIRY=10d


# =================== ACCESS_TOKEN ===========================
ACCESS_TOKEN_SECRET=79845298278924828XXXX
ACCESS_TOKEN_EXPRIRY=1d


# =================== RAZORPAY ===========================
RAZORPAY_KEY= YOUR RAZORPAY_KEY
RAZORPAY_KEY_SECRET=YOUR RAZORPAY_KEY_SECRE


# =================== MAILTRAP ===========================
MAILTRAP_SMTP_HOST= YOUR HOST
MAILTRAP_SMTP_PORT= YOUR PORT
MAILTRAP_SMTP_USER= YOUR USER
MAILTRAP_SMTP_PASSWORD=YOUR PASSWORD

#================== REDIS_URL ======================================
# REDIS_URL=redis://127.0.0.1:6379


